In [50]:
tuple_ = (1,2,3,4,5,6) #Tuple Initalisation
print(tuple)

(1, 2, 3, 4, 5, 6)

In [51]:
type(tuple_)

tuple

In [52]:
#Accessing Tuple using Positive Index

print("Value in tuple[0] = ", tuple_[0])
print("Value in tuple[2] = ", tuple_[2])
print("Value in tuple[4] = ", tuple_[4],'\n')

#Accessing Tuple using Negative Index
print("Value in tuple[-1] = ", tuple_[-1])
print("Value in tuple[-2] = ", tuple_[-2])
print("Value in tuple[-3] = ", tuple_[-3])

Value in tuple[0] =  1
Value in tuple[2] =  3
Value in tuple[4] =  5

Value in tuple[-1] =  6
Value in tuple[-2] =  5
Value in tuple[-3] =  4

In [53]:
#Concadination of Tuple

In [54]:
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'Java')
print(tuple1 + tuple2)

(0, 1, 2, 3, 'python', 'Java')

In [55]:
# Code to create a tuple with repetition
tuple3 = ('python',)*3
print(tuple3)

('python', 'python', 'python')

In [56]:
# code to test slicing
tuple1 = (0 ,1, 2, 3)
 
print(tuple1[1:])
print(tuple1[::-1])
print(tuple1[2:4])

(1, 2, 3)
(3, 2, 1, 0)
(2, 3)

In [63]:
# Code for deleting a tuple
tuple3 = ( 0, 1)
 
del tuple3
print(tuple3)

NameError: name 'tuple3' is not defined

In [58]:
# Code for printing the length of a tuple
tuple2 = ('python', 'geek')
print(len(tuple2))

2

In [59]:
# tuple with different datatypes
tuple_obj = ("immutable",True,23)
print(tuple_obj)

('immutable', True, 23)

In [61]:
print(str.isalpha()) #Returns True if all characters in the string are in the alphabet

False

In [ ]:
# Operations of dictionary

In [64]:
#Declaration

In [65]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [66]:
#Accessing Elements using key
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [67]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [68]:
print(len(thisdict))

3

In [69]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [70]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [71]:
#List Operations

In [72]:
# Adds List Element as value of List. 
List = ['Mathematics', 'chemistry', 1997, 2000] 
List.append(20544) 
print(List)

['Mathematics', 'chemistry', 1997, 2000, 20544]

In [73]:
List = ['Mathematics', 'chemistry', 1997, 2000] 
# Insert at index 2 value 10087 
List.insert(2, 10087) 
print(List)

['Mathematics', 'chemistry', 10087, 1997, 2000]

In [74]:
List1 = [1, 2, 3] 
List2 = [2, 3, 4, 5] 
  
# Add List2 to List1 
List1.extend(List2) 
print(List1) 
  
# Add List1 to List2 now 
List2.extend(List1) 
print(List2)

[1, 2, 3, 2, 3, 4, 5]
[2, 3, 4, 5, 1, 2, 3, 2, 3, 4, 5]

In [75]:
#Python Extend Method

In [76]:
#Python Sum Function

In [77]:
List = [1, 2, 3, 4, 5] 
print(sum(List))

15

In [78]:
#Count func

In [79]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1] 
print(List.count(1))

4

In [80]:
#Len Func

In [81]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1] 
print(len(List))

10

In [82]:
#Python index() method

In [83]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1] 
print(List.index(2))

1

In [84]:
#Sort Method

In [85]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5] 
  
#Reverse flag is set True 
List.sort(reverse=True)  
  
#List.sort().reverse(), reverses the sorted list   
print(List)

[5.33, 4.445, 3, 2.5, 2.3, 1.054]

In [86]:
#Python reverse() method

In [87]:
# creating a list 
list = [1,2,3,4,5] 
#reversing the list 
list.reverse() 
#printing the list 
print(list)

[5, 4, 3, 2, 1]

In [88]:
#POp Method

In [89]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5] 
print(List.pop())

2.5

In [90]:
#Python del() method

In [91]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5] 
del List[0] 
print(List)

[4.445, 3, 5.33, 1.054, 2.5]