In [1]:
import pandas as pd

# Create a sample dataframe
data = {'Name': ['Alice', 'Bob', 'Charlie', 'Dave'],
        'Age': [25, None, 30, None],
        'Income': [50000, 60000, 70000, 80000]}
df = pd.DataFrame(data)
df
# Fill missing values with the mean age
df['Age'].fillna(df['Age'].mean(), inplace=True)
df

      Name   Age  Income
0    Alice  25.0   50000
1      Bob  27.5   60000
2  Charlie  30.0   70000
3     Dave  27.5   80000

In [2]:
# Create a sample dataframe
data = {'TransactionID': [1, 2, 3, 4, 2, 5],
        'Product': ['A', 'B', 'C', 'D', 'B', 'E'],
        'Price': [10.99, 5.99, 7.99, 15.99, 5.99, 12.99]}
df = pd.DataFrame(data)
df
# Remove duplicate rows based on the 'TransactionID' column
df.drop_duplicates(subset='TransactionID', keep='first', inplace=True)
df

   TransactionID Product  Price
0              1       A  10.99
1              2       B   5.99
2              3       C   7.99
3              4       D  15.99
5              5       E  12.99

In [3]:
# Create a sample list of product descriptions
descriptions = ['High-quality Product', 'GREAT product', 'amazing ITEM', 'best PRODUCT']
descriptions
# Convert all descriptions to lowercase
descriptions = [desc.capitalize() for desc in descriptions]
descriptions

['High-quality product', 'Great product', 'Amazing item', 'Best product']